$primary: #9bdbdd;
$primary-transparent: rgba(155, 219, 221, 0.7);
$primary-light-transparent: rgba(155, 219, 221, 0.2);

$secondary: #e46360;
$secondary-transparent: rgb(228, 99, 96, 0.1);
$light: #ffffff;
$dark: #454545;
$middark: #757575;
$light2: #ededed;
$light2-transparent: rgba(237, 237, 237, 0.4);
$font-family-base: Roboto;
$grid-columns: 14;
