::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-transparent;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}
