.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $light2;
  width: 30%;
  gap: 50px;
  .brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
